<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>Welcome To Udemy</h1>
            <hr>
        </div>
    </div>
</div>  
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <zippy title="Shipping details">
                Shipping Details content
            </zippy>
            <br>
            <zippy title="Billing details">
               Billing Details content
            </zippy>
        </div>
    </div>
</div>             
<!-- <courses></courses> -->

<!-- <h1>Angular</h1> -->
<!-- <authors></authors> -->
<!-- <titlecase></titlecase> -->
<!-- <app-home></app-home> -->
<!-- <titlecase></titlecase> -->